.slider-tours {
  overflow: hidden;
  margin: 0 0 53px;

  @include vp-1199 {
    padding: 0 6px;
  }

  @include vp-767 {
    padding: 0;
    margin: 0 0 30px;
  }
}

.slider-tours__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.slider-tours__item {
  position: relative;
  padding: 206px 20px 22px;
  background-color: $color-boston-blue;


  &--1 {
    background: $black-to-tours, url("../img/tours/background-slider-desktop-1.png") center/cover no-repeat;

    @media (min-resolution: 2dppx) {
      background: $black-to-tours, url("../img/tours/background-slider-desktop-1@2x.png") center/cover no-repeat;
    }
  }

  &--2 {
    background: $black-to-tours, url("../img/tours/background-slider-desktop-2.png") center/cover no-repeat;

    @media (min-resolution: 2dppx) {
      background: $black-to-tours, url("../img/tours/background-slider-desktop-2@2x.png") center/cover no-repeat;
    }
  }

  &--3 {
    background: $black-to-tours, url("../img/tours/background-slider-desktop-3.png") center/cover no-repeat;

    @media (min-resolution: 2dppx) {
      background: $black-to-tours, url("../img/tours/background-slider-desktop-3@2x.png") center/cover no-repeat;
    }
  }

  h3 {
    position: relative;

    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: $color-default-white;

    width: 260px;
    margin: 0 0 38px;

    &::after {
      position: absolute;
      left: 0;
      top: 72px;

      width: 80px;
      height: 1px;

      background-color: $color-default-white;
      opacity: 0.2;

      content: "";
    }
  }

  @include vp-767 {
    padding: 197px 20px 21px;

    h3 {
      font-size: 20px;
      line-height: 24px;

      width: 194px;
      margin: 0 0 30px;

      &::after {
        top: 62px;
      }
    }
  }
}

.slider-tours__additional-list {
  display: flex;
  justify-content: space-between;

  padding: 0;
  margin: 0 0 24px;
  row-gap: 15px;
  flex-wrap: wrap;
  list-style-type: none;

  @include vp-1199 {
    margin: 0 0 23px;
  }

  @include vp-767 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 4px;

    margin: 0 0 15px;
  }
}

.slider-tours__additional-item {
  display: flex;
  align-items: center;
  justify-content: space-around;

  min-width: 87px;

  &:first-child {
    justify-content: flex-start;
    background-color: $color-navy-blue;
    padding: 9px 22px 8px 24px;
    min-width: 108px;

    svg {
      margin-right: 6px;
      flex-shrink: 0;
    }
  }

  @include vp-1199 {
    &:first-child {
      width: auto;
      padding: 9px 24px 9px 15px;
      min-width: 92px;
    }
  }

  @include vp-767 {
    justify-content: flex-start;

    &:first-child {
      order: 3;
      grid-column: 1;
    }

    svg {
      margin-right: 14px;
    }
  }
}

.slider-tours__additional-description {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: $color-default-white;
}

.slider-tours__description-list {
  display: flex;
  justify-content: space-between;
  max-width: 334px;
  padding: 0;

  flex-wrap: wrap;
  row-gap: 15px;
  list-style-type: none;

  svg {
    @include vp-767 {
      width: 70px;
      height: 12px;
    }
  }
}

.slider-tours__description-title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  color: $color-default-white;

  display: block;
  margin: 0 0 1px;

  @include vp-767 {
    margin: 0;
  }
}

.slider-tours__description-text {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
  color: $color-default-white;

  @include vp-767 {
    font-size: 12px;
    line-height: 12px;
  }
}
